@mixin make-alignment($size) {
  .align-items#{$size}-base {
    align-items: baseline;
  }

  .align-items#{$size}-start {
    align-items: flex-start;
  }

  .align-items#{$size}-center {
    align-items: center;
  }

  .align-items#{$size}-end {
    align-items: flex-end;
  }

  .align-self#{$size}-base {
    align-self: baseline;
  }

  .align-self#{$size}-start {
    align-self: flex-start;
  }

  .align-self#{$size}-center {
    align-self: center;
  }

  .align-self#{$size}-end {
    align-self: flex-end;
  }

  .align-content#{$size}-around {
    align-content: space-around;
  }

  .align-content#{$size}-between {
    align-content: space-between;
  }

  .align-content#{$size}-start {
    align-content: flex-start;
  }

  .align-content#{$size}-center {
    align-content: center;
  }

  .align-content#{$size}-end {
    align-content: flex-end;
  }

  .justify-items#{$size}-base {
    justify-items: baseline;
  }

  .justify-items#{$size}-start {
    justify-items: flex-start;
  }

  .justify-items#{$size}-center {
    justify-items: center;
  }

  .justify-items#{$size}-end {
    justify-items: flex-end;
  }

  .justify-self#{$size}-base {
    justify-self: baseline;
  }

  .justify-self#{$size}-start {
    justify-self: flex-start;
  }

  .justify-self#{$size}-center {
    justify-self: center;
  }

  .justify-self#{$size}-end {
    justify-self: flex-end;
  }

  .justify-content#{$size}-around {
    justify-content: space-around;
  }

  .justify-content#{$size}-between {
    justify-content: space-between;
  }

  .justify-content#{$size}-start {
    justify-content: flex-start;
  }

  .justify-content#{$size}-center {
    justify-content: center;
  }

  .justify-content#{$size}-end {
    justify-content: flex-end;
  }
}
